## Libraries

In [1]:
import functions as f
import warnings
warnings.filterwarnings('ignore')

# Prediction with user inputs

input0 = qué variable predictora? (area_cultivada (h), producción (t), o rendimiento(t/h) )  
input1 = area_seeded  
input2_1 = dept  
input2_2 = group  
  
input2_1 → output_best_groups = dataframe["group","variable a maximizar"] → ordenado de mayor a menor  
input2_2 → output_best_depts = dataframe["dept","variable a maximizar"] → ordenado de mayor a menor

In [2]:
available_departments = ['amazonas', 'antioquia', 'arauca', 'atlantico', 'bolivar', 'boyaca', 'caldas', 'caqueta', 'casanare', 'cauca', 'cesar', 'choco', 'cordoba',
 'cundinamarca', 'guainia', 'guaviare', 'huila', 'la guajira', 'magdalena', 'meta', 'narino', 'norte de santander', 'putumayo', 'quindio', 'risaralda',
  'san andres y providencia', 'santander', 'sucre', 'tolima', 'valle del cauca', 'vaupes', 'vichada']
available_groups = ['cereales', 'fibras', 'flores y follajes', 'forestales', 'frutales', 'hongos', 'hortalizas', 'leguminosas', 'oleaginosas',
 'otros permanentes', 'otros transitorios', 'plantas aromaticas, condimentarias y medicinales', 'tuberculos y platanos']

In [5]:
input0 = ["area_harvested_model", "production_model", "yield_model"][0]
input1 = 10
#input2_1 = "atlantico" #→ drop list
input2_2 = "hortalizas" #hortalizas → drop list

In [6]:
print("Maximizing for the best departments:",input0, "selected group:", input2_2, "for a area seeded of:", input1)
f.predict_depts(input1, input2_2, input0).head(10)

Maximizing for the best departments: area_harvested_model selected group: hortalizas for a area seeded of: 10

      Department  Prediction
15      guaviare  140.957623
3      atlantico   60.479090
5         boyaca   22.240857
8       casanare   16.200286
14       guainia   14.236155
2         arauca    5.395957
13  cundinamarca    3.343038
18     magdalena    2.488564
28        tolima    1.173286
0       amazonas    0.000000

In [4]:
print("Maximizing for the best groups:",input0, "| selected department:", input2_1, "| for a area seeded of:", input1)
f.predict_groups(input1, input2_1, input0).head(10)

Maximizing for the best groups: area_harvested_model | selected department: atlantico | for a area seeded of: 10

                                               Group  Prediction
9                                  otros permanentes  156.573673
10                                otros transitorios   94.061934
2                                  flores y follajes   93.845273
0                                           cereales   88.483018
4                                           frutales   85.230977
12                             tuberculos y platanos   70.944791
5                                             hongos   65.246212
1                                             fibras   64.573310
6                                         hortalizas   60.479090
11  plantas aromaticas, condimentarias y medicinales   57.201469