In [11]:
import pandas as pd

In [12]:
EVA_06_to_18=pd.read_csv('./data/EVA_2001_2018.csv')
EVA_19_to_20=pd.read_csv('./data/EVA_2019_2020.csv')

# Renombrar columnas de la primer base de datos para poderlos unir ya que tienen diferentes nombres de columna

EVA_06_to_18=EVA_06_to_18.rename(columns={'CÓD. \nDEP.':'Codigo del departamento', 'DEPARTAMENTO':'Departamento', 'CÓD. MUN.':'Código del Municipio',
                              'MUNICIPIO':'Municipio','GRUPO \nDE CULTIVO':'Grupo cultivo según especie', 'SUBGRUPO \nDE CULTIVO':'Subgrupo cultivo según especie',
                              'CULTIVO':'Cultivo', 'AÑO':'Año', 'PERIODO':'Periodo','Área Sembrada\n(ha)':'Area Sembrada (ha)', 'Área Cosechada\n(ha)':'Area Cosechada (ha)',
                              'Producción\n(t)':'Producción (t)','Rendimiento\n(t/ha)':'Rendimiento (t/ha)', 'ESTADO FISICO PRODUCCION':'Estado físico de la producción',
                              'NOMBRE \nCIENTIFICO':'Nombre científico', 'CICLO DE CULTIVO':'Ciclo del cultivo'}).drop('DESAGREGACIÓN REGIONAL Y/O SISTEMA PRODUCTIVO',axis=1)

# Unir las bases de datos
eva=pd.concat([EVA_06_to_18, EVA_19_to_20],ignore_index = True)

In [13]:
eva = eva.rename(columns={'Codigo del departamento':'dept_code', 'Departamento':'dept', 'Código del Municipio':'mun_code', 'Municipio':'mun', 'Grupo cultivo según especie':'group', 'Subgrupo cultivo según especie':'subgroup',
 'Subgrupo cultivo según especie':'subgroup', 'Cultivo':'crop', 'Año':'year', 'Periodo':'period', 'Area Sembrada (ha)':'area_seeded', 'Area Cosechada (ha)':'area_harvested',
 'Producción (t)':'production', 'Rendimiento (t/ha)':'yield', 'Estado físico de la producción':'production_status', 'Nombre científico':'scientific_name', 'Ciclo del cultivo':'cycle'})

In [14]:
len(eva)

246013

In [15]:
eva.head(100)

,dept_code,dept,mun_code,mun,group,subgroup,crop,year,period,area_seeded,area_harvested,production,yield,production_status,scientific_name,cycle
0,15,BOYACA,15114,BUSBANZA,HORTALIZAS,ACELGA,ACELGA,2006,2006B,2.0,1.0,1.0,1.00,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO
1,25,CUNDINAMARCA,25754,SOACHA,HORTALIZAS,ACELGA,ACELGA,2006,2006B,82.0,80.0,1440.0,18.00,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO
2,25,CUNDINAMARCA,25214,COTA,HORTALIZAS,ACELGA,ACELGA,2006,2006B,2.0,2.0,26.0,17.33,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO
3,54,NORTE DE SANTANDER,54405,LOS PATIOS,HORTALIZAS,ACELGA,ACELGA,2006,2006B,3.0,3.0,48.0,16.00,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO
4,54,NORTE DE SANTANDER,54518,PAMPLONA,HORTALIZAS,ACELGA,ACELGA,2006,2006B,1.0,1.0,5.0,10.00,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,19,CAUCA,19364,JAMBALO,HORTALIZAS,ACELGA,ACELGA,2013,2013B,1.0,1.0,0.0,0.50,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO
96,25,CUNDINAMARCA,25175,CHIA,HORTALIZAS,ACELGA,ACELGA,2013,2013B,10.0,9.0,225.0,25.00,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO
97,25,CUNDINAMARCA,25754,SOACHA,HORTALIZAS,ACELGA,ACELGA,2013,2013B,9.0,7.0,35.0,5.00,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO
98,25,CUNDINAMARCA,25214,COTA,HORTALIZAS,ACELGA,ACELGA,2013,2013B,7.0,5.0,132.0,28.00,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO
99,25,CUNDINAMARCA,25799,TENJO,HORTALIZAS,ACELGA,ACELGA,2013,2013B,1.0,1.0,24.0,22.00,FRUTO FRESCO,BETA VULGARIS,TRANSITORIO

In [16]:
# Estandarización de las columnas con texto del dataframe

eva['dept']=eva['dept'].str.lower().str.strip().str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
eva['mun']=eva['mun'].str.lower().str.strip().str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
eva['group']=eva['group'].str.lower().str.strip().str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
eva['subgroup']=eva['subgroup'].str.lower().str.strip().str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
eva['crop']=eva['crop'].str.lower().str.strip().str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
eva['production_status']=eva['production_status'].str.lower().str.strip().str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
eva['scientific_name']=eva['scientific_name'].str.lower().str.strip().str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
eva['cycle']=eva['cycle'].str.lower().str.strip().str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

for code_i in eva['mun_code'].unique():
    indexes = eva[eva['mun_code'] == code_i].index
    muns = eva[eva['mun_code']==code_i]['mun'].unique()
    muns = [str(x) for x in muns if str(x) != 'nan']
    selected_mun = min(muns, key=len)
    eva.loc[indexes, 'mun'] = selected_mun


eva.loc[eva[eva['area_harvested']==0].index, 'yield'] = 0

eva.loc[eva[eva['area_harvested']==0].index, 'production'] = 0

eva2=eva

eva2['yield']=eva2['production']/eva2['area_harvested']

eva2

eva[(eva['crop']=='aguacate')&(eva['mun_code']==54051)].sort_values(by='period',ascending=False).head(20)

,dept_code,dept,mun_code,mun,group,subgroup,crop,year,period,area_seeded,area_harvested,production,yield,production_status,scientific_name,cycle
226790,54,norte de santander,54051,arboledas,frutales,aguacate,aguacate,2020,2020,103.0,11.0,7194.0,654.000000,fruto fresco,persea americana mill.,permanente
207163,54,norte de santander,54051,arboledas,frutales,aguacate,aguacate,2019,2019,109.0,11.0,73.0,6.636364,fruto fresco,persea americana mill.,permanente
5097,54,norte de santander,54051,arboledas,frutales,aguacate,aguacate,2018,2018,15.0,10.0,100.0,10.000000,fruto fresco,persea americana mill.,permanente
4595,54,norte de santander,54051,arboledas,frutales,aguacate,aguacate,2017,2017,15.0,10.0,100.0,10.000000,fruto fresco,persea americana mill.,permanente
4100,54,norte de santander,54051,arboledas,frutales,aguacate,aguacate,2016,2016,15.0,10.0,100.0,10.000000,fruto fresco,persea americana mill.,permanente
3635,54,norte de santander,54051,arboledas,frutales,aguacate,aguacate,2015,2015,10.0,9.0,90.0,10.000000,fruto fresco,persea americana mill.,permanente
3201,54,norte de santander,54051,arboledas,frutales,aguacate,aguacate,2014,2014,9.0,9.0,63.0,7.000000,fruto fresco,persea americana mill.,permanente
2783,54,norte de santander,54051,arboledas,frutales,aguacate,aguacate,2013,2013,9.0,7.0,49.0,7.000000,fruto fresco,persea americana mill.,permanente
2390,54,norte de santander,54051,arboledas,frutales,aguacate,aguacate,2012,2012,7.0,7.0,49.0,7.000000,fruto fresco,persea americana mill.,permanente
2026,54,norte de santander,54051,arboledas,frutales,aguacate,aguacate,2011,2011,8.0,6.0,42.0,7.000000,fruto fresco,persea americana mill.,permanente
1693,54,norte de santander,54051,arboledas,frutales,aguacate,aguacate,2010,2010,7.0,6.0,25.0,4.166667,fruto fresco,persea americana mill.,permanente
1383,54,norte de santander,54051,arboledas,frutales,aguacate,aguacate,2009,2009,11.0,11.0,110.0,10.000000,fruto fresco,persea americana mill.,permanente
1100,54,norte de santander,54051,arboledas,frutales,aguacate,aguacate,2008,2008,11.0,11.0,110.0,10.000000,fruto fresco,persea americana mill.,permanente
840,54,norte de santander,54051,arboledas,frutales,aguacate,aguacate,2007,2007,11.0,11.0,110.0,10.000000,fruto fresco,persea americana mill.,permanente

In [17]:
eva.head(2)

,dept_code,dept,mun_code,mun,group,subgroup,crop,year,period,area_seeded,area_harvested,production,yield,production_status,scientific_name,cycle
0,15,boyaca,15114,busbanza,hortalizas,acelga,acelga,2006,2006B,2.0,1.0,1.0,1.0,fruto fresco,beta vulgaris,transitorio
1,25,cundinamarca,25754,soacha,hortalizas,acelga,acelga,2006,2006B,82.0,80.0,1440.0,18.0,fruto fresco,beta vulgaris,transitorio

In [18]:
eva['subgroup'].value_counts()

maiz         28620
frijol       14693
tomate        9654
citricos      9543
yuca          9488
             ...
lenteja          3
algarrobo        3
bore             1
esparto          1
alcachofa        1
Name: subgroup, Length: 132, dtype: int64

In [19]:
eva[['dept','group','subgroup','crop','year','area_seeded','area_harvested','production','yield']].head(2)

,dept,group,subgroup,crop,year,area_seeded,area_harvested,production,yield
0,boyaca,hortalizas,acelga,acelga,2006,2.0,1.0,1.0,1.0
1,cundinamarca,hortalizas,acelga,acelga,2006,82.0,80.0,1440.0,18.0

In [20]:
eva.rename(columns={'yield': 'yield_'}, inplace=True)
eva.to_csv('./data/EVA_2006_2020_clean.csv', index=False)